.bgstyle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .mainstruct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
  }
  .titlestyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: -450px;
  }
  .ststyle {
    color: grey;
    font-size: 28px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
  }
  .typeface1 {
    font-size: 23px;
    font-weight: 900;
    font-family: Microsoft Yahei;
  }
  .typeface4 {
    font-size: 14px;
    color: black;
    font-weight: 700;
    font-family: Microsoft Yahei;
    margin-right: 90px;
  }
  .bodystruct {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .imgstyle {
    margin-right: 50px;
  }
  .cardsstruct {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
  }
  .cardstruct1 {
    display: flex;
    flex-direction: column;
  }
  .tabstyle {
    font-size: 18px;
    font-weight: 900;
    font-family: Microsoft Yahei;
    color: darkgreen;
    margin-top: 10px;
    padding: 0px;
    letter-spacing: 0px;
  }
  .tabsstruct {
    margin-top: 5px;
    margin-left: 30px;
    width: 100px;
  }
  hr.style1 {
    margin-left: 120px;
    margin-right: 50px;
    border-bottom: 0px;
    opacity: 0.3;
  }
  .bottomstyle {
    width: 100%;
    text-align: center;
    overflow: auto;
    margin-top: 100px;
  }
  .wronginfo {
    font-size: 1px;
    position: absolute;
    top: 65%;
    left: 36%;
  }
  .typeface2 {
    color: black;
    margin-left: 5px;
    font-size: 15px;
    font-weight: 700;
    font-family: Microsoft Yahei;
  }
  .typeface3 {
    color: gray;
    margin-left: 2px;
    margin-top: 1px;
    font-size: 14px;
    font-weight: 700;
    font-family: Microsoft Yahei;
  }
  .typeface5 {
    text-decoration: none;
    font-size: 14px;
    color: green;
    font-weight: 700;
    font-family: Microsoft Yahei;
  }
  